.message {
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    display: flex;
    flex-direction: row-reverse;
}