.message {
    padding-inline: 50px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    height: 48px;
    width: 48px;
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    display: flex;
    flex-direction: row-reverse;
}