.sidebar {
    visibility: hidden;
    width: 0;
    height: 0;
}

.sidebar.open {
    visibility: visible;
    width: 317px;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    padding: 60px 0 0 50px;
    z-index: 1;
}

.background {
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.nav {}

.nav a {
    display: block;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.nav a:hover {}

.nav a.active {
    text-decoration: underline;
    color: #0059B2;
}

.close {
    width: 24px;
    height: 24px;
    top: 16px;
    right: 22px;
    position: absolute;
    border: none;
    background: none;
}

.close img {}