.loader {
    /*свг и/или анимация*/
    background-image: url('./loader.svg');
    width: 108px;
    height: 108px;
    animation: 1.5s linear infinite rotate;
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
    }

    to {
        transform: rotate(270deg);
    }
}