.buttonsContainer {
    display: flex;
    gap: 20px;
}

.buttonsContainer button {
    width: unset;
}

.buttonsContainer button:disabled {
    opacity: 0.4;
    color: white;
    background-color: #0066CC;
}

.clock {}

.watch {}

.watch strong {}

.more {}