.friendMessage {

}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    height: 50px;
    width: 50px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
