.friendMessage {
    padding-inline: 50px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
